<body>

    <h1>do you want to aaaaaaaaaaadopt??

    </h1>


    <ul class="animals_list">

        {{#each animals}}
        <li class="animal_item">
            {{!-- <a class="animal_link" href="/public/assets/{{this}}"><div class="animal_image" style="background-image: url(/public/assets/{{this}}.svg)"></div></a> --}}
            <div class="svg_animal">
                {{this}}
                {{this.name}}
                <img src="/public/assets/{{this.name}}.svg">
            </div>
            {{/each}}
        </li>
    </ul>
</body>